<header>
  <nav>
    <a id="events" [routerLink]="[ '/home' ]"><img id="stand" style="width: 100px;" src="/assets/images/events.png" alt="Стенд Событий"></a>
    <a id="channels" [routerLink]="[ '/channels' ]"><img style="width: 100px;" src="/assets/images/channels.png" alt="Каналы"></a>
    <a id="enter" [routerLink]="[ '/login' ]"><img style="width: 100px;" src="/assets/images/enter.png" alt="Войти организатору"></a>
    <a id="profile" [routerLink]="[ '/profile' ]"><img style="width: 100px;" src="/assets/images/profile.png" alt="Мой канал"></a>
    <a [routerLink]="[ '/' ]"><img style="width: 100px;" src="/assets/images/menu_5.png" alt="Reserved"></a>
  </nav>
</header>
