$events: "События";
$channels: "Каналы";
$enter: "Войти";
$profile: "Мой канал";
$bookmarks: "Закладки";
$admin: "Админ";
$font-family: ustroke;

// :host {
//   background-color: rgba(243, 231, 223, 0.685);
//   display: block;
// }

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  position: relative;
  transition-duration: 0.2s;
}

img:hover {
  transform: scale(1.05);
}

a {
  position: relative;
  font-family: $font-family;
}
a:hover {
  transform: scale(1.05);;
}

#events::after {
  content: $events;
  position: absolute;
  top: 42px;
  left: 11px;
  transform: rotate(16deg);
}
#channels::after {
  content: $channels;
  position: absolute;
  top: 40px;
  left: 20px;
}
#enter::after {
  content: $enter;
  position: absolute;
  top: 40px;
  left: 23px;
  transform: rotate(-12deg);
}
#profile::after {
  content: $profile;
  position: absolute;
  top: 30px;
  left: 20px;
  transform: rotate(8deg);
}
#bookmarks::after {
  content: $bookmarks;
  position: absolute;
  font-size: small;
  top: 44px;
  left: 14px;
  transform: rotate(18deg);
}
#admin::after {
  content: $admin;
  position: absolute;
  top: 38px;
  left: 26px;
  transform: rotate(2deg);
}
