<header>
  <nav>
    <a id="events" [routerLink]="[ '/home' ]"><img src="/assets/images/events.png" alt="Стенд Событий"></a>
    <a id="channels" [routerLink]="[ '/channels' ]"><img src="/assets/images/channels.png" alt="Каналы"></a>
    <a id="bookmarks" [routerLink]="[ '/bookmarks' ]"><img src="/assets/images/bookmarks.png" alt="Закладки"></a>
    <a id="enter" [routerLink]="[ '/login' ]"  *ngIf="!authService.checkLoggedIn()"><img src="/assets/images/enter.png" alt="Войти организатору"></a>
    <a id="profile" [routerLink]="[ '/profile' ]" *ngIf="authService.checkLoggedIn()"><img src="/assets/images/profile.png" alt="Мой канал"></a>
    <a id="admin" [routerLink]="[ '/admin' ]" *ngIf="authService.checkAdmin()"><img src="/assets/images/admin.png" alt="Админ"></a>
  </nav>
</header>
