$events: "События";
$channels: "Каналы";
$enter: "Войти";
$profile: "Мой канал";
$bookmarks: "Закладки";
$admin: "Админ";
$font-family: ustroke;

// :host {
//   background-color: rgba(243, 231, 223, 0.685);
//   display: block;
// }

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 110px;
  position: relative;
  transition-duration: 0.2s;
}

img:hover {
  transform: scale(1.05);
}

a {
  color: rgb(73, 0, 209);
  position: relative;
  font-family: $font-family;
}
a:hover {
  transform: scale(1.05);
}
a:visited {
  color: rgb(73, 0, 209);
}

#events::after {
  content: $events;
  position: absolute;
  top: 50px;
  left: 15px;
  transform: rotate(16deg);
}
#channels::after {
  content: $channels;
  position: absolute;
  top: 50px;
  left: 22px;
}
#enter::after {
  content: $enter;
  position: absolute;
  top: 50px;
  left: 25px;
  transform: rotate(-8deg);
}
#profile::after {
  content: $profile;
  position: absolute;
  top: 36px;
  left: 25px;
  transform: rotate(-22deg);
}
#bookmarks::after {
  content: $bookmarks;
  position: absolute;
  font-size: small;
  top: 54px;
  left: 16px;
  transform: rotate(16deg);
}
#admin::after {
  content: $admin;
  position: absolute;
  top: 48px;
  left: 22px;
  transform: rotate(-16deg);
}
