header {
    // position: fixed;
    // top: 0;
    // z-index: 100;
}
nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
img {
   transition-duration: 0.2s; 
}
img:hover {
    transform: scale(1.05);
}