<ul class="breadcrumb">
  <li [routerLink]="[ '/' ]" style="cursor: pointer;">Головна</li>
  <img src="../../../assets/images/arrow-right.png" width="12px" height="12px" style="margin-top: 10px;">
  <li> {{ event?.name | titlecase }} </li>
</ul>



<section>
  <h2>{{event?.name | titlecase}}</h2>
  <hr><br>
  <div class="flex-line-start">
    <img class="event-image" src="{{event?.image}}">
      <table class="detail">
        <tr>
          <td>Организатор</td>
          <td>{{event?.organizer}}</td>
        </tr>
        <tr>
          <td>Дата</td>
          <td>{{event?.startDate | date:"dd/MM/yyyy EEEE"}}</td>
        </tr>
        <tr>
          <td>Время</td>
          <td>{{event?.startDate | date:"HH:mm"}}</td>
        </tr>
        <tr>
          <td>Длительность</td>
          <td>{{event?.duration}}</td>
        </tr>
        <tr *ngIf="event?.address">
          <td>Место проведения</td>
          <td>{{event?.address}}</td>
        </tr>
        <div *ngIf="event?.address" class="line-break"></div>
        <tr>
          <td>Канал</td>
          <td class="channel-url" [routerLink]="['/channels/' + event?.channel.id ]">{{event?.channel.name}}</td>
        </tr>
        <tr>
          <td>Язык</td>
          <td>{{event?.channel.language.native}}</td>
        </tr>
      </table>
  </div>
  <div class="url">
    <hr style="border-color: rgb(177, 77, 77);">
    <a class="link" href="{{event?.link}}" target="_blank">Ссылка на участие</a>
    <hr style="border-color: rgb(177, 77, 77);">
  </div>
  <div class="description">
    <quill-view-html [content]="event?.description"></quill-view-html>
  </div>
  <hr>
</section>
