<ul class="breadcrumb">
  <li [routerLink]="[ '/' ]" style="cursor: pointer;">Головна</li>
  <img src="../../../assets/images/arrow-right.png" width="12px" height="12px" style="margin-top: 10px;">
  <li> {{ channel?.name | titlecase }} </li>
</ul>

<section>
  <h2>{{channel?.name | titlecase}}</h2>
  <hr><br>
  <div class="flex-line-start">
    <img class="event-image" src="{{channel?.image}}">
      <table class="detail">
        <tr>
          <td>Организатор</td>
          <td>{{channel?.userName}}</td>
        </tr>
        <tr>
          <td>Емейл</td>
          <td>{{channel?.userEmail}}</td>
        </tr>
        <tr>
          <td>Язык</td>
          <td>{{channel?.language.native}}</td>
        </tr>
        <tr>
          <td>Страна</td>
          <td>{{channel?.country.native}}</td>
        </tr>
      </table>
  </div>
  <div class="description">
    <quill-view-html [content]="channel?.description"></quill-view-html>
  </div>
  <hr>

  <h3>Предстоящие События</h3>
  <ul>
    <li *ngFor="let event of events"><span>{{event?.name}}</span></li>
  </ul>

</section>
