section {
    margin-top: 30px;
    margin-left: 26%;
    width: 70%;
    background-color: rgba(255, 228, 205, 0.95);
    border: 6px solid rgb(255, 253, 254);
    box-shadow: -1px 1px 3px rgb(94, 82, 77);
    border-radius: 10px;
}

.channel-details {
    margin: 5px;
}

h2 {
    font-family: akronim;
    font-size: xx-large;
    margin-bottom: 10px;
    color: rgb(255, 95, 32);
}

p {
    font-size: large;
    word-wrap: break-word;
    color: rgb(99, 34, 9);
}

.detail {
    font-family: candara;
    font-size: larger;
}

.flex-line-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.url {
    font-size: larger;
    font-family: candara;
    padding: 3px;
    border: 1px solid lightcoral;
    border-radius: 3px;
    background-color: lightcoral;
}