.icon {
    position: relative;
}
.tooltip {
    visibility: hidden;
    position: absolute;
    top: -25px;
    left: -100px;
    width: 100px;
    text-align: center;
    border: 1px solid rgba(240, 128, 128, 0.77);
    border-radius: 5px;
    background-color: rgba(228, 255, 177, 0.77);
}
.icon:hover .tooltip {
    visibility: visible;
}
.ptr {
    cursor: pointer;
}