<button class="btn btn-small" (click)="showEvents()">Список Событий</button>
<div class="event-list" *ngIf="load">
  <div class="event-data" *ngFor="let event of events">
    <div>{{event?.name}}</div>
    <div class="controls">
      <button *ngIf="!event.approved" class="btn btn-x-small btn-approve" (click)="approve(event)">Подтвердить событие</button>
      <button class="btn btn-x-small btn-edit"
              [routerLink]="[ '/event/'+event?.channel.country.name, event?.channel.name, event?.id ]">Детали</button>
      <button *ngIf="event.approved" class="btn btn-x-small btn-disapprove" (click)="disapprove(event)">Блокировать событие</button>
      <button class="btn btn-x-small btn-del" (click)="delete(event)">Удалить событие</button>
    </div>
  </div>
</div>
