.event-list {
  border: 1px solid lightsalmon;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
}

.event-data {
  display: flex;
  justify-content: space-between;
}

.event-title {
  margin-left: 3px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.event-title:hover {
  transform: scale(1.02);
}

.btn-small {
  margin-top: 3px;
  height: 30px;
  font-size: medium
}

.btn-x-small {
  margin-top: 2px;
  height: 22px;
  font-size: small;
  border-radius: 3px;
}

.btn-del {
  background-color: rgba(255, 72, 0, 0.5);
}
.btn-approve {
  background-color: rgba(255, 255, 0, 0.5);
}
.btn-disapprove {
  background-color: rgba(255, 166, 0, 0.5);
}