<form [formGroup]="languageForm">
  <mat-form-field appearance="fill">
    <mat-label>Filter by language</mat-label>
    <mat-select formControlName="languages" multiple (selectionChange)="selectLanguage($event)">
      <mat-option value="en">English</mat-option>
      <mat-option *ngFor="let language of languageList" [value]="language.code">
        <p *ngIf="language.name == language.native">{{language.name}}</p>
        <p *ngIf="language.name != language.native">{{language.name}} ({{language.native}})</p>
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
