section {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.filters {
  min-width: 20%;
}
.teachings {
  width: 100%;
  margin-right: 20%;
  text-align: center;
  font-family: murrey;
  font-size: 3em;
  line-height: 1.2;
  color: rgb(114, 201, 230);
  text-shadow: 1px 1px 3px rgb(99, 174, 199);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - 421px);
  transition-duration: 0.2s;
}

.box {
  color: darkolivegreen;
  width: 400px;
  min-height: 400px;
  height: fit-content;
  margin: 0 25px 25px 25px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-family: murrey;
  position: relative;
}

h3 {
  width: 70%;
  font-family: murrey;
  font-size: x-large;
  text-align: center;
  margin: 95px auto 0 auto;
  cursor: pointer;
}
h3:hover {
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.bookmark {
  position: absolute;
  top: 50px;
  right: 11%;
}

.info {
  width: 70%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 60px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

a {
  color: darkolivegreen;
  text-decoration: underline;
}
a:hover {
  color: darkolivegreen;
  text-decoration: underline;
}
a:visited {
  color: darkolivegreen;
}
a:active {
  color: darkolivegreen;
}

.link {
  font-size: x-large;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  text-shadow: -1px 1px 1px rgba(128, 128, 128, 0.5);
  margin-bottom: 15px;
}
.link:hover {
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.flex-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: x-large;
  display: flex;
  justify-content: center;
}

.picture {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.picture img {
  border-radius: 50%;
  width: 105px;
  height: 105px;
  box-shadow: -1px 1px 3px rgba(165, 71, 42, 0.8);
}
.picture img:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.app-filter-country {
  width: 210px;
  margin-left: -165px;
  transition-duration: 200ms;
}
.app-filter-country:hover {
  margin-left: 0;
}
.app-filter-language {
  width: 210px;
  margin-left: -165px;
  transition-duration: 200ms;
}
.app-filter-language:hover {
  margin-left: 0;
}


/// Media screen
@media screen and (max-width: 800px) {
  .box {
    margin: 5px 0;
  }
}