<section>
  <div class="filters">
    <div class="app-filter-country">
      <app-filter-country (countryFilter)="onCountryFilter($event)"></app-filter-country>
    </div>
    <div class="app-filter-language">
      <app-filter-language (languageFilter)="onLanguageFilter($event)"></app-filter-language>
    </div>
  </div>
  <div class="teachings">All suffering arises from the fundamental division of the Me and Not Me</div>
</section>

<div class="container">
  <div class="box" data-aos="fade-up"
       *ngFor="let event of collection 
       | filterCountries:countryFilter
       | filterLanguages:languageFilter
       | filterSubscribe:subscribeFilter
       | filterDate
       | orderEvents">
    <img class="event-image" src="../../../assets/images/event-note-11.png">
    <div>
      <div class="bookmark">
        <app-add-bookmark [event]="event"></app-add-bookmark>
      </div>
      <h3 [routerLink]="['event/'+event.channel.country.name, event.channel.name, event.id]">{{event.name}}</h3>
      <div class="date">
        <span>{{event.startDate | date:"dd/MM/yyyy EEEE HH:mm"}}</span>
      </div>
      <div class="picture">
        <img [routerLink]="['event/'+event.channel.country.name, event.channel.name, event.id]" src="{{event.image}}">
      </div>

      <div class="info">
        <div class="flex-line">
          <span>{{event.organizer}}</span>
        </div>
        <a class="flex-line" href="{{event.link}}" target="_blank">
          <span class="link">Ссылка на участие</span>
        </a>
      </div>
    </div>
  </div>
</div>
