<div class="container">
  <div class="box" data-aos="fade-up" *ngFor="let event of bookmarks">
    <img class="event-image" src="../../../assets/images/event-note-33.png">
    <div>
      <div class="bookmark">
        <app-add-bookmark [event]="event"></app-add-bookmark>
      </div>
      <h3 [routerLink]="['event/'+event.channel.country.name, event.channel.name, event.id]">{{event.name}}</h3>
      <div class="date">
        <span>{{event.startDate | date:"dd/MM/yyyy EEEE"}}</span>
      </div>
      <div class="time">
        <span>{{event.startDate | date:"HH:mm"}}</span>
      </div>
      <div class="picture">
        <img width="100px" height="100px" src="{{event.image}}">
      </div>

      <div class="info">
        <div class="flex-line">
          <span>{{event.organizer}}</span>
        </div>
        <a class="flex-line" href="{{event.link}}" target="_blank">
          <span class="link">Ссылка на участие</span>
        </a>
      </div>
    </div>
  </div>
</div>
