@font-face {
  font-family: akronim;
  src: url(assets/fonts/Akronim.otf);
  // https://www.fonts-online.ru/font/mr_AkronimG
}

@font-face {
  font-family: candara;
  src: url(assets/fonts/candara.ttf);
  // https://www.fonts-online.ru/font/mr_AkronimG
}

@font-face {
  font-family: english-rose;
  src: url(assets/fonts/English-Rose.ttf);
  // https://www.fonts-online.ru/font/English-Rose
}

@font-face {
  font-family: hanging-letters;
  src: url(assets/fonts/Hanging-Letters.otf);
  // https://www.fonts-online.ru/font/mr_HangingLettersG
}

@font-face {
  font-family: murrey;
  src: url(assets/fonts/Murrey.ttf);
  // https://www.fonts-online.ru/font/MurreyC
}

@font-face {
  font-family: ustroke;
  src: url(assets/fonts/Ustroke-Regular.ttf);
  // https://www.fonts-online.ru/font/Ustroke-Regular
}

@font-face {
  font-family: papirus;
  src: url(assets/fonts/papirus.ttf);
  // https://www.fonts-online.ru/font/1-Papyrus
}
