/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: harringt;
  src: url(assets/fonts/HARRINGT.TTF);
}
@font-face {
  font-family: ustroke;
  src: url(assets/fonts/Ustroke-Regular.ttf);
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: antiquewhite;
}

// Button, Input
.btn,
.inp {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid lightsteelblue;
  border-radius: 7px;
  font-size: large;
}

.inp-event {
  color: rgb(0, 76, 117);
  width: 95%;
}

.form-control {
  margin-bottom: 10px;
}

.invisible {
  opacity: 0;
}
